{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Refresh" content="3600"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>PiFrame</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static 'home/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="{% static 'home/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="{% static 'home/css/weather.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

	<!-- Javascript  -->
	<script src="{% static 'home/js/skycons.js' %}"></script>
	<script src="{% static 'home/js/main.js' %}"></script>
	<script src="{% static 'home/js/time.js' %}"></script>
	<script src="{% static 'home/js/weather.js' %}"></script>

</head>

<body>
	<nav class="navbar" role="navigation">
		<div class="nav-wrapper container">
			<a class="brand-logo left">{{date.day}}</a>
			<a id="logo-container" href="#" class="brand-logo center time">00:00:00</a>
			<a class="brand-logo right">{{date.full_date}}</a>
		</div>
	</nav>

	<div class="section no-pad-bot weather-info" id="index-banner">
		<div class="container">
			<div class="summary">
				<h3 class="center weather-summary">{{daily_weather.summary}}</h3>
			</div>
			<div class="weather-info row center valign-wrapper">
				<div class="col s4 temp">
					<h1 class="header highlight">{{current_weather.temperature|floatformat:"0"}}°</h1>
					<h5 class="min-max-temp">{{daily_weather.temperatureMin|floatformat:"0"}}° | {{daily_weather.temperatureMax|floatformat:"0"}}°</h5>
				</div>
				<div class="col s4">
					<canvas id="main-weather" class="{{daily_weather.icon}}" width="128" height="128">
						{{daily_weather.icon}}
					</canvas>
				</div>
				<div class="col s4">
					<h5>Wind speeds of</h5>
					<h4 class="highlight">{{daily_weather.windSpeed|floatformat:"0"}} mph</h4>
				</div>
			</div>
			<div class="row center clothes-suggestion">
				<h5 class="header col s12 light">{{clothes_suggestion}}</h5>
			</div>

			<div id="timeline" class="row center hourly-weather">
				{% for hour in hourly_weather|slice:"1:13" %}
					<div class="col s1 hour {{hour.icon}}">{{hour.time}}
						<canvas class="{{hour.icon}}" width="32" height="32">
							{{hour.icon}}
						</canvas>
					</div>
				{% endfor %}
			</div>

		</div>
	</div>


	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{% static 'home/js/materialize/bin/materialize.js' %}"></script>
	<script src="{% static 'home/js/materialize/initial.js' %}"></script>
</body>
</html>
