// _colorscheme

// Weather colours
$c_rainy: #0288d1;
$c_sunny: #ffb300;
$c_partly_cloudy: #ffecb3;
$c_cloudy: #9e9e9e;
$c_fog:	#757575;
$c_snow: #90a4ae;
$c_clear_night: #0d47a1;

$c_highlight: #0288d1;

// Backgrounds
// Day
$c_day: linear-gradient(to bottom, rgba(144, 223, 254, 0.12) 0%, rgba(56, 163, 209, 0.42) 100%);
