// Weather info screen
@import "colorscheme";


.navbar {
	background: rgba(2, 136, 209, 0.34);
}

.weather-info {

	.temp > * {
		display: inline-block;
	}

	.highlight {
		color: $c_highlight;
	}

	.hourly-weather {

		> .hour {
			&:first-child {
				border-radius: 7px 0px 0px 7px;
			}
			&:last-child {
				border-radius: 0px 7px 7px 0px;
			}
		}

		.clear-day {
			background: $c_sunny;
		}

		.clear-night,
		.partly-cloudy-night {
			background: $c_clear_night;
			color: white;
		}

		.partly-cloudy-day {
			background: $c_partly_cloudy;
		}

		.rain,
		.sleet {
			background: $c_rainy;
			color: white;
		}

		.snow {
			background: $c_snow;
		}

		.fog {
			background: $c_fog;
			color: white;
		}

		.cloudy,
		.wind {
			background: $c_cloudy;
		}
	}
}


html.dawn {
	background: url("../images/dawn.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	color: white;
}

html.day {
	background: url("../images/day.png") no-repeat center center fixed;
	background-size: 100% auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	color: black;
}

.dusk {
	background: url("../images/dusk.png") no-repeat center center fixed;
	background-size: 100% auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	color: white;
	.highlight {
		color: $c_night_highlight;
	}
}

.night {
	background: url("../images/night.png") no-repeat center center fixed;
	background-size: 100% auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	color: white;
	.highlight {
		color: $c_night_highlight;
	}
}
