// Weather info screen
@import "colorscheme";

.navbar {
	background: $c_highlight;
}

.weather-info {
	transition: background 1s ease-in;

	.temp > * {
		display: inline-block;
	}

	.highlight {
		color: $c_highlight;
	}

	.hourly-weather {

		> .hour {
			border-right: 3px solid white;

			&:first-child {
				border-radius: 7px 0px 0px 7px;
			}
			&:last-child {
				border-radius: 0px 7px 7px 0px;
			}
		}

		.clear-day {
			background: $c_sunny;
		}

		.clear-night,
		.partly-cloudy-night {
			background: $c_clear_night;
			color: white;
		}

		.partly-cloudy-day {
			background: $c_partly_cloudy;
		}

		.rain,
		.sleet {
			background: $c_rainy;
			color: white;
		}

		.snow {
			background: $c_snow;
		}

		.fog {
			background: $c_fog;
			color: white;
		}

		.cloudy,
		.wind {
			background: $c_cloudy;
		}
	}
}
